FACEBOOK_ID=SKIP             // 輸入你的facebook developers id
FACEBOOK_SECRET=SKIP         // 輸入你的facebook developers SECRET
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback

SESSION_SECRET=ThisIsMySecret

MONGODB_URI=mongodb://localhost/restaurant-list  

PORT=3000